<div class='header'>
  <div class="picture-container">
    <img *ngIf="isVerified && !isAndreu" class="header__verified" [src]="isVerifiedImg">
    <img *ngIf="isVerified && isAndreu" class="header__verified" [src]="isVerifiedAndreuImg">
    <div *ngIf="!isAndreu" class="header__picture">
      <img src={{profilePicture}}>
    </div>
    <div *ngIf="isAndreu" class="header__pictureAndreu">
      <img src={{profilePictureAndreu}}>
    </div>
  </div>
  <div class="header__main">
    <div class="header__main__subtitle-type"> {{type}} </div>
    <div class="header__main__title" [ngClass]="{'medium': fullName.length <= 20, 'small': fullName.length > 20}">
      {{fullName}} </div>
    <app-medals></app-medals>
  </div>
</div>
