.background {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 101vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgb(0, 0, 0);
  opacity: 70%;
}

.container {
  position: fixed;
  height: 100vh;
  z-index: 10;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__card {
    display: flex;
    flex-direction: column;

    height: 36.5rem;
    width: 19.5rem;
    border-radius: 1.5rem;
    background-color: white;
    padding: 1.5rem;

    z-index: 11;
    filter: drop-shadow(0px 0px 25px rgb(65, 65, 65));
  }

  &__title {
    font-family: montserrat-bold;
    font-size: 22px;
  }

  &__subtitle {
    font-family: montserrat;
    font-size: 10px;
    line-height: 0.8;

    padding-left: 0.25rem;
  }

  &__maps {
    background-color: #d9d9d9;
    border-radius: 1rem;

    margin-top: 1rem;
    height: 7rem;
  }

  &__scheduler {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 0.65rem;
    column-gap: 0.5rem;

    margin-top: 1rem;
  }

  &__description {
    margin-top: 1rem;
  }

  &__description-text {
    font-family: montserrat;
    font-size: 10px;

    line-height: 1.2;
  }

  &__description-text-bold {
    font-family: montserrat-bold;
    font-size: 10px;

    line-height: 1.2;
  }
}

.lower-info {
  margin-top: 2rem;

  &__container {
    display: grid;
    grid-template-columns: 100px 1fr;
    row-gap: 0.45rem;

    margin-top: 1rem;
  }
}

.close {
  background-color: white;
  margin-top: 1rem;
  padding: 0.2rem 1.2rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;

  z-index: 11;
  filter: drop-shadow(0px 0px 25px rgb(65, 65, 65));
}
