<div class="container">
  <div class="container__card">
    <div class="container__title">Orange House</div>
    <div class="container__subtitle">Cv750,03509 Finestrat España</div>
    <iframe class="container__maps"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.7628633014333!2d-0.2155648251259098!3d38.56227706640992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd621bf0ac235515%3A0xf56f362cff2f887a!2sThe%20Orange%20House!5e0!3m2!1ses-419!2ses!4v1689436549310!5m2!1ses-419!2ses"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="container__description">
      <div class="container__description-text">{{description}}</div>
    </div>
    <div class="container__scheduler">
      <span class="container__description-text-bold">Llegada:</span>
      <span class="container__description-text">Jueves 24 - 11:00h</span>
      <span class="container__description-text-bold">Salida:</span>
      <span class="container__description-text">Domingo 27 - 15:00h</span>
    </div>
    <div class="lower-info">
      <div class="container__title">Detalles generales</div>
      <div class="container__scheduler">
        <span class="container__description-text-bold">Organizadores:</span>
        <span class="container__description-text">Alvaro del Río, Gisela Deumal</span>
        <span class="container__description-text-bold">Temática disfraz:</span>
        <span class="container__description-text">Los 2000</span>
        <span class="container__description-text-bold">Comida Especial:</span>
        <span class="container__description-text">
          Viernes 25
          <span *ngIf="enlaceUbicacionCena" (click)="onSecundaryAdressTouched()" class="container__description-text-see-more"> | Ver ubicación</span>
        </span>

      </div>
    </div>
  </div>

  <div class="close" (click)="onBackgroundTouched()"><svg width="14" height="14" viewBox="0 0 16 16" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M16 2.91L13.09 0L8 5.09L2.91 0L0 2.91L5.09 8L0 13.09L2.91 16L8 10.91L13.09 16L16 13.09L10.91 8L16 2.91Z"
        fill="#222222" />
    </svg>
    &nbsp;Cerrar</div> <!-- En vez de la "X" deberiamos poner el icono de la cruz -->
  <div class="background" (click)="onBackgroundTouched()"></div>
</div>
