<div class="medals-container">
  <div class="medals">
    <img class="medals__image" [src]="goldMedalImg">
    <div class="medals__text">{{goldMedals}}</div>
  </div>
  <div class="medals">
    <img class="medals__image" [src]="silverMedalImg">
    <div class="medals__text">{{silverMedals}}</div>
  </div>
  <div class="medals">
    <img class="medals__image" [src]="bronzeMedalImg">
    <div class="medals__text">{{bronzeMedals}}</div>
  </div>
  <div class="medals">
    <img class="medals__image" [src]="copperMedalImg">
    <div class="medals__text">{{copperMedals}}</div>
  </div>
</div>
