<div class="medals-container">
  <div class="medals">
    <div class="medals__image"></div>
    <div class="medals__text">{{goldMedals}}</div>
  </div>
  <div class="medals">
    <div class="medals__image"></div>
    <div class="medals__text">{{silverMedals}}</div>
  </div>
  <div class="medals">
    <div class="medals__image"></div>
    <div class="medals__text">{{bronzeMedals}}</div>
  </div>
  <div class="medals">
    <div class="medals__image"></div>
    <div class="medals__text">{{copperMedals}}</div>
  </div>
</div>
