<div class="loading">
  <div class="containerLogo">
    <img class="containerLogo__logo" src="../../../../../assets/svg/LogoNegroIcon.svg">
  </div>

  <div class="loginContainer">
    <div class="textContainer">
      <span class="textContainer__title">Iniciar sesión</span>
      <span class="textContainer__subtitle">Utiliza el correo facilitado para poder acceder a tu cuenta.</span>
    </div>
    <button id="buttonDiv" class="googleButton"></button>
  </div>

  <span (click)="onContactTouched()" class="contactButton">Contácto</span>
</div>
