<body class="container-fluid">
    <div class="row pt-5 justify-content-center">

        <div class="col-12 text-center pt-5 pb-5">
           
           <h1 class="titel text-animation" >La villa</h1>
     

         </div>

        <div class="col-12 col-sm-4 text-center pt-5 login pb-5">
           
                <h2 class="fw-bold text-black">Login subnormal</h2>
                <p>Utiliza tu cuenta de google para ingresar bobo</p>
                <div *ngIf="loading==false" class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <button *ngIf="loading==true" id="buttonDiv"  class="btn btn-inicio" ></button> 
         

        </div>

        <div class="col-12 text-center pt-3 ">     
          
            <p  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="fs-5 ">Contacto</p>
 
          </div>


          <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <div class="modal-body text-center">
            <p class="fs-2">Contactame esta payaso</p>
            <img src="../../../../assets/Imagenes/Inicio/gift.gif" width="100%" alt="" class="rounded-3">
            <button type="button" class="btn btn-danger mt-4 mb-3" data-bs-dismiss="modal">Close</button>
        </div>
       
      </div>
    </div>
  </div>
    </div>
    <div id="player"></div>

</body>
