<div class="medals-collection">
  <div class="medals-collection__title">Hall of Fame</div>

  <div class="medals-collection__container" *ngFor="let tipoMedalla of medallas; let i = index">
    <div class="medals-factory">
      <div class="medals-factory__title">Oro</div>
      <div  *ngFor="let medalla of tipoMedalla.oro" class="medals-factory__medalNotOK" [ngClass]="{'medals-factory__medalNotOK': medalla === 0, 'medals-factory__medalOK': medalla === 1 }"></div>
    </div>

    <div class="medals-factory">
      <div class="medals-factory__title">Plata</div>
      <div  *ngFor="let medalla of tipoMedalla.plata" class="medals-factory__medalNotOK" [ngClass]="{'medals-factory__medalNotOK': medalla === 0, 'medals-factory__medalOK': medalla === 1 }"></div>
    </div>

    <div class="medals-factory">
      <div class="medals-factory__title">Bronce</div>
      <div  *ngFor="let medalla of tipoMedalla.bronce" class="medals-factory__medalNotOK" [ngClass]="{'medals-factory__medalNotOK': medalla === 0, 'medals-factory__medalOK': medalla === 1 }"></div>
    </div>

    <div class="medals-factory">
      <div class="medals-factory__title">Cobre</div>
      <div  *ngFor="let medalla of tipoMedalla.cobre" class="medals-factory__medalNotOK" [ngClass]="{'medals-factory__medalNotOK': medalla === 0, 'medals-factory__medalOK': medalla === 1 }"></div>
    </div>

  </div>
