<div class="medals-collection">
  <div class="medals-collection__title">Hall of Fame</div>
  <div class="medals-collection__container">
    <div class="medals-factory">
      <div class="medals-factory__title">Oro</div>
      <div class="medals-factory__medalNotOK"></div>
      <div class="medals-factory__medalOK"></div>
      <div class="medals-factory__medalNotOK"></div>
      <div class="medals-factory__medalNotOK"></div>
      <div class="medals-factory__medalNotOK"></div>
    </div>
    <div class="medals-factory">
      <div class="medals-factory__title">Plata</div>
      <div class="medals-factory__medalOK"></div>
      <div class="medals-factory__medalNotOK"></div>
      <div class="medals-factory__medalOK"></div>
      <div class="medals-factory__medalNotOK"></div>
      <div class="medals-factory__medalNotOK"></div>
    </div>
    <div class="medals-factory">
      <div class="medals-factory__title">Bronce</div>
      <div class="medals-factory__medalOK"></div>
      <div class="medals-factory__medalOK"></div>
      <div class="medals-factory__medalOK"></div>
      <div class="medals-factory__medalNotOK"></div>
      <div class="medals-factory__medalOK"></div>
    </div>
    <div class="medals-factory">
      <div class="medals-factory__title">Cobre</div>
      <div class="medals-factory__medalNotOK"></div>
      <div class="medals-factory__medalOK"></div>
      <div class="medals-factory__medalOK"></div>
      <div class="medals-factory__medalOK"></div>
      <div class="medals-factory__medalOK"></div>
    </div>
  </div>
