.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  flex-direction: column;
}

.loading-text {
  font-family: 'montserrat-bold';
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
  width: 5rem;

  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  }

  50% {
    text-shadow: 0 0 12px rgba(255, 255, 255, 1);
  }

  100% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  }

}

.warning {
  font-family: 'montserrat';
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 0 8px hsla(0, 0%, 100%, 1);

  margin-bottom: 1rem;
}
