<app-header></app-header>
<div class="home">
  <!-- Todo el bloque de informacion lo sacare a otro componente, lo mismo con la parte inferior y la parte de las medallas -->
  <div class="information">
    <div class="information__title">Orange House</div>
    <div class="information__adress">Cv750, 03509 Finestrat España</div>
    <div class="information__description">{{description}}</div>
    <div class="information__button">Ver más</div>
  </div>

  <div class="album">
    <div class="album__margin">
      <div class="album__title">Album de fotos</div>
      <div class="album__button-photos"><img class="album__button-photos-size" src="../../../../assets/Imagenes/Inicio/gift.gif" alt=""></div>
      <div class="information__description">{{description}}</div>
      <div class="information__button">Ver más</div>
    </div>
  </div>
</div>
