.loading-overlay {
  z-index: 20;
  position: fixed;
  width: 100vw;

  opacity: 0;

  animation-name: fadeOut;
  animation-duration: 5s;
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}

.home {
  z-index: -1;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;

  translate: 0 8rem;
  scroll-behavior: smooth;

  background-image: url("../../../../assets/Imagenes/Home/TexturaFondo.png");
  background-repeat: round;
  background-size: contain;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1;
  }
}

.tutorialContainer {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  opacity: 50%;

  &__button {
    position: fixed;
    scale: 15%;
    margin-top: 2.5rem;
  }
}

.containerLogo {
  display: flex;
  justify-content: center;

  &__logo {
    width: 27vw;
    max-width: 200px;
    opacity: 70%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}

.information {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2.5rem;

  &__title {
    font-family: "montserrat-bold";
    font-size: 18px;
  }

  &__adress {
    font-family: "montserrat";
    font-size: 8px;
    margin-left: 0.25rem;
    line-height: 0.5rem;
  }

  &__description {
    font-family: "montserrat";
    font-size: 12px;
    line-height: 0.9rem;
    text-align: justify;

    margin-top: 1rem;
  }

  &__container {
    display: flex;
    justify-content: center;

    margin-top: 0.7rem;

    &__button {
      font-family: "montserrat";
      font-size: 10px;

      display: flex;
      justify-content: center;

      padding-left: 1rem;
      padding-right: 1rem;

      background-color: rgb(255 255 255);
      border-radius: 5px;
      filter: drop-shadow(0px 1px 1px rgb(197 197 197));
    }
  }
}

.lower-section {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.3rem;

  background-color: black;
  height: 100%;

  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.album {
  &__titleContainer {
    width: 100%;
    max-width: 24.5rem;
    padding: 0 2rem;
  }

  &__title {
    font-family: "montserrat-bold";
    color: black;
    text-align: center;
    font-size: 25px;

    margin-top: 1rem;
    padding-left: 1rem;
    width: 100%;
    max-width: 24.5rem;

    border-radius: 5px;
    background-color: white;
  }

  &__photos {
    width: 100%;
    max-width: 24.5rem;
    height: 10rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5rem solid rgb(255 255 255);
  }

  &__photos-size {
    width: 8rem;
    height: 10rem;
    padding: 0.5rem;
    border-radius: 15px;
  }
}

.buttons {
  &__button {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__container {
    width: 100%;
  }

  &__title {
    font-family: "montserrat-bold";
    font-size: 25px;
    color: white;
  }
  &__text {
    font-family: "montserrat";
    font-size: 10px;
    color: white;
    line-height: 0.8rem;

    padding-right: 2rem;
  }

  &__image {
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    overflow: hidden;
  }
}

.logout {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "montserrat";
  font-size: 10px;

  &__button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: dimgray;
  }

  // &__button:hover {
  //   border-radius: 5px;
  //   background-color: rgb(185, 185, 185);
  // }
}

.notLogged {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  &__background {
    display: flex;
    position: absolute;

    height: 100vh;
    width: 100vw;

    z-index: -1;
  }

  &__background img {
    overflow: revert;
  }

  &__text {
    font-family: montserrat-bold;
    color: white;
    font-size: 65px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
  }
}
