<div class="loading-overlay" *ngIf="isLowerThanX">
  <app-loading>
    <audio autoplay>
      <source src="../../../../assets/Sounds/nevado-trimmed.mp3" type="audio/mp3">
    </audio>
  </app-loading>
</div>

<div *ngIf="currentUser; else notLogged">

  <app-tutorial *ngIf="tutorialService.mostrar"></app-tutorial>

  <app-popup-info *ngIf="popupService.mostrar"></app-popup-info>
  <app-popup-medals *ngIf="medalsPopupService.mostrar"></app-popup-medals>
  <app-popup-survey *ngIf="surveysPopupService.mostrar"></app-popup-survey>

  <!-- Cuando cliquemos en el header nos pondra la pagina arriba del todo -->
  <app-header (click)="onHeaderTouch()"></app-header>
  <div (click)="onTutorialTouch()" class="tutorialContainer">
    <img class="tutorialContainer__button" [src]="buttonTutorial">
  </div>

  <div appScrollPosition class="home">
    <app-medals-collection></app-medals-collection>

    <div (click)="onLogoTouch()" class="containerLogo">
      <img class="containerLogo__logo" [src]="laVillaLogoImg">
    </div>

    <!-- Todo el bloque de informacion lo sacare a otro componente, lo mismo con la parte inferior y la parte de las medallas -->
    <div class="information">
      <div class="information__title">Orange House</div>
      <div class="information__adress">Cv750, 03509 Finestrat España</div>
      <div class="information__description">{{description}}</div>
      <div class="information__container">
        <div class="information__container__button" (click)="onInfoTouch()">
          Ver más
        </div>
      </div>
    </div>

    <div class="lower-section">
      <div class="album__title">Album de fotos</div>
      <div class="album__photos" (click)="onAlbumTouch()">
        <img class="album__photos-size" src="../../../../assets/Imagenes/Home/Foto1.jpg" alt="">
        <img class="album__photos-size" src="../../../../assets/Imagenes/Home/Foto2.jpg" alt="">
        <img class="album__photos-size" src="../../../../assets/Imagenes/Home/Foto3.jpg" alt="">
      </div>

      <div class="buttons__button" (click)="onSpotyTouch()">
        <div class="buttons__container">
          <span class="buttons__title">Playlists oficiales</span>
          <div class="buttons__text">{{playlist}}</div>
        </div>
        <img class="buttons__image" [src]="buttonIconImg">
      </div>

      <div class="buttons__button" (click)="onTricountTouch()">
        <div class="buttons__container">
          <span class="buttons__title">Tricount</span>
          <div class="buttons__text">{{tricuount}}</div>
        </div>
        <img class="buttons__image" [src]="buttonIconImg">
      </div>

      <div class="buttons__button" (click)="onSurveyTouch()">
        <div class="buttons__container">
          <span class="buttons__title">Encuestas</span>
          <div class="buttons__text">{{encuesta}}</div>
        </div>
        <img class="buttons__image" [src]="buttonIconImg">
      </div>

      <div class="logout">
        <button class="logout__button" (click)="onLoguut()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</div>

<ng-template #notLogged>
  <div class="notLogged">
    <div class="notLogged__text">Que te pires payaso</div>
    <div class="notLogged__background">
      <img src="../../../../assets/gifs/4832193.gif">
    </div>
  </div>
  <!-- Utilizamos esta template para que nadie pueda acceder poniendo la URL a mano, comprobando que tengamos un userContext cargado de google -->
  <!-- Aqui ya metemos lo que queramos, una opcion es meter porno hiper gore con el sonido a tope -->
</ng-template>
